
section{
  margin-bottom: 50px;
  margin-top: 50px;
}

li{
  text-align: center;
  width: 33.33%;
}

a{
  font-size: 20px;
}

h1{
  text-align: center;
  padding: 15px;
  margin-bottom: 50px;
  margin-top: 0;
  font-family: Cabin, serif;
}

.sectiune{
  width: 60%;
    margin: auto;
    padding: 80px;
    padding-bottom: 100px;
    font-size: 20px;
    font-family: Mukta Vaani, serif;
}
.projectDescription{
	font-family: Open Sans Condesed, serif;
	font-size:25px;
}
#project1 {
  opacity:0.5;
}
#project1:hover{
  opacity:1;
}
#project2 {
  float:right;
  opacity:0.5;
}
#project2:hover{
  opacity:1;
}

#project3 {
  opacity:0.5;
}
#project3:hover{
  opacity:1;
}
